{% set uploader = uploader ?? false %}

{% if uploader and not uploader.hasErrors() %}

    {% switch uploader.layout %}

      {% case "logo" %}
        {% include "upload/_layouts/logo" %}

      {% case "background" %}
        {% include "upload/_layouts/background" %}

      {% default %}
        {% include "upload/_layouts/field" %}

    {% endswitch %}


{% else %}

    <div class="uploadit--notice">
        {% if uploader.hasErrors() %}
            <p>{{ 'Uploader Not Ready'|t('upload') }}</p>
            <ul class="uploadit--noticeErrors">
                {% for error in uploader.getErrors() %}
                    <li>{{ error|filter|join(', ') }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{{ 'Uploader Not Found'|t('upload') }}</p>
        {% endif %}
    </div>

{% endif %}
